.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 80vh;

    padding: 60px 80px;

    background: #f8fbff;
}

.hero-content {
    max-width: 550px;
}

.hero-tag {
    color: #0B5ED7;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 3.5rem;
    color: #1f2937;
    margin-bottom: 20px;
}

.hero-description {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.7;
}

.hero-buttons {
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.primary-btn {
    background: #0B5ED7;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
}

.secondary-btn {
    background: white;
    border: 2px solid #0B5ED7;
    color: #0B5ED7;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-image {
    font-size: 180px;
}

.hero-image img{
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}